<div class="chip">
  <img src="https://cdn1.iconfinder.com/data/icons/ui-5/502/address-512.png" alt="Shipping Address">
  <span class="bold-text"><%= address.address_alias %></span> | Phone: <%= address.phone_number %>| Fax: <%= address.fax_number %> |<%= "#{address.address_1} #{address.address_2}, #{address.address_city}, #{address.address_state} #{address.address_zip}" %>
</div>
