<div class="chip">
  <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Contact Person">
  <span class="bold-text"><%= contact.full_name %></span> | Office: <%= phone_formatted(contact.phone_number, contact.extension) %> | Mobile: <%= number_to_phone(contact.mobile_phone_number, area_code: true) %>
</div>
