// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main_wrapper {
   border-radius: 10px 10px 10px 10px;
   -moz-border-radius: 10px 10px 10px 10px;
   -webkit-border-radius: 10px 10px 10px 10px;
   border: 1px solid #555;
}


.cust_title {
  font-weight: 600;
  font-size: 60px;
  color: #333;
  text-shadow: 1px 1px 3px #eee;
}
